<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Purchases</title>
  </head>
  <body>
    <a href="/">All</a>
    <a href="/?category=Alcohol">Alcohol</a>
    <a href="/?category=Toiletries">Toiletries</a>
    <a href="/?category=Shoes">Shoes</a>
    <a href="/?category=Food">Food</a>
    <a href="/?category=Jewelry">Jewelry</a>
    <br>
    <!-- <table style="display: inline-block;">
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      {{#customers}}
      <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
      </tr>
      {{/customers}}
    </table> -->
    <table border="1" style="width:100%">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Category</th>
          <th>Credit Card</th>
          <th>CVV</th>
          <th>Date</th>
        </tr>
        {{#purchases}}
        <tr>
          <td>{{customer.name}}</td>
          <td>{{customer.email}}</td>
          <td>{{category}}</td>
          <td>{{creditCard}}</td>
          <td>{{cvv}}</td>
          <td>{{date}}</td>
        </tr>
      {{/purchases}}
    </table>
  </body>
</html>
